<% provide :title, t("sessions.new.login") %>
<h1> <%= t "sessions.new.login" %> </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label t "users.new.email" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label t "users.new.password" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t("sessions.new.login"), class: "btn btn-primary" %>
    <% end %>
    <%= t(".new_user",link_sign_up: link_to(t("users.new.su_now"),
      signup_path)).html_safe%>
  </div>
</div>
